@font-face {
    font-family: "titleFont";
    src: url(fonts/norse-bold.otf);
}   

#webpage {
    display: flex;
}

#left-side {
    width: 60rem;
    height: 100vh;
    background-image: url(pictures/ferns.jpg);
    background-size: cover;
}

#title {
    font-size: 5em;
    font-family: "titleFont";
    color: white;
}

#title-background {
    background-color: rgba(0, 0 , 0, 0.5);
    margin-top: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
}

#logo {
    width: auto;
    height: 100px;
}